<header>
     <p class="header-p">{{#if user}}Hey <b>{{user.firstName}}</b>, {{/if}}Welcome to SpotSports!</p>
  <nav class="header-nav">
     <ul class="header-ul">
        <li class="header-li">
    <a  class="header-a" href="/">Home</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/profile/{{user._id}}">Profile</a>
    </li>
    <li class="header-li">
     <a class="btn header-a" href="logout" title="logout">Logout</a>
     </li>
     </ul>
  </nav>
</header>
<br>
<br>
<br>

<div class="search">
   <input id="filter" type="text" placeholder="Search by sport type">
</div>
  
  <div class="cards-list" >

     <div class="card ">
  <div class="card_image"></div>
  <div class="card_title">
    <p class="places-titleADD"><a class="a-addPlace" href="/place-add">+</a></p>
  </div>
  </div>
   {{#each places}}

  <div class="card ">
  <div class="card_image"> 
    <button class="delete"> <a class="a-delete" href="/place-delete/{{_id}}">X</a></button>
    <img class="img-card"src='{{path}}' alt='{{title}}'> 
  
   </div>
  <div class="card_title">
    <h3 class="places-title"><a href="/places/{{_id}}">{{name}}</a></h3>
    <p>{{type}}</p>
  </div>
  </div>
   {{/each}}
</div>
  </div>
</div>
<br>
<br>
<div class="mapPlaces" id="map"></div> 

<link rel="stylesheet" href="/stylesheets/places.css" />

<script>
  $(function(){ 

  $("#filter").keyup(function(){
    var texto = $(this).val();
    
    $(".bloco").each(function(){
      var result = $(this).text().toUpperCase().indexOf(' '+texto.toUpperCase());
      
      if(result < 0) {
        $(this).fadeOut();
      }else {
        $(this).fadeIn();
      }
    }); 

  });

});
</script>






<style>

  .search {
  padding: 10px;
  width: 100%;
  background-color:white;
  margin-bottom: 20px;
}
  .search input {
    display: block;
    width: 70%;
    height: 30px;
    padding: 0 5px;
    margin: 0 auto;
  }


.a-delete{
  text-decoration:none;
  color:black;
   opacity:0;
}
.a-delete:hover{ 
  color:white;
  opacity:1;
}
  .delete {
	border-radius:42px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;

}
.delete:hover {
	background-color:#ce0100;
}
.delete:active {
	position:relative;
	top:1px;
}
  .places-titleADD{
    margin-top: -50px;
  }

.places-titleADD a{
font-family:'Montserrat', sans-serif;
color:black;
text-decoration:none;
font-size: 80px;
}

  .cards-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 5px 5px 2px 7px rgba(0,0,0,0.25), 
  cursor: pointer;
  transition: 0.4s;
  filter: grayscale(100%);
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 8px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 8px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 30px 30px;
 font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 10px;
  margin-top: -120px;
  height: 40px;
  text-decoration:none;
  color:white;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 0px 1px 18px 1px rgba(0,0,0,0.25), 
    1px 1px 20px 1px rgba(0,0,0,0.22);
    filter: grayscale(0%);
}

.places-title a{
font-family:'Montserrat', sans-serif;
color:white;
text-decoration:none;
font-size: 15px;
}

.places-title {
  margin-top: 50px;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
</style>





