  <nav>
    <a href="/">Home</a>
    <a href="logout">Logout</a>
     <a href="/profile/{{user._id}}">Profile</a>
  </nav>

<p>{{#if user}}Hey {{user.firstName}}, {{/if}}Welcome to Places!</p>

<ul>
  {{#each places}}
  <li>
<a href="/places/{{_id}}">{{name}}</a>
 <button> <a href="/place-delete/{{_id}}">DELETE</a></button>
  </li>
  {{/each}}
</ul>

<button><a href="/place-add">New Place</a></button>