<link rel="stylesheet" href="/stylesheets/place-details.css" />
<script src="https://kit.fontawesome.com/0cc4f904e8.js" crossorigin="anonymous"></script>
<header>
    <h2>Spot Sport</h2>
  <nav class="header-nav">
     <ul class="header-ul">
        <li class="header-li">
    <a  class="header-a" href="/">Home</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/places">Places</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/profile/{{user._id}}">Profile</a>
    </li>
    <li class="header-li">
     <a class="btn header-a" href="/logout" title="logout">Logout</a>
     </li>
     </ul>
  </nav>
</header>
<br>
<br>
<br>

<div class="title">
{{#with places}}
<h1 class="h1-title">{{this.name}}</h1>
{{/with}}
{{#with places}}
<div class="div-icon">
<a href="/place-edit/{{_id}}" ><i class="far fa-edit"></i></a>
</div>
{{/with}}
<div class="div-photoMap">
{{#with places}}
<div class="div-Photo">
<img class="img-Places"src='{{path}}' alt='{{title}}'>
<div class="div-descriptions">
<h4>Type: {{type}}</h4>
<h4>Address: {{address}}</h4>
<p>{{description}}</p>
</div>
</div>
<div class="mapDetails" id="map"></div> 
{{/with}}
</div>

<div class="div-review">
{{#with places}}
<a class="btn-createReview" href="/place-review/{{_id}}"><i class="far fa-comment-dots"></i></a>
{{/with}}
<div class="background-div">
<h2>Reviews</h2>
{{#each places.reviews}}
<div class="review-item">
  <p>{{comments}}</p>
  <span><b>{{username}}</b></span>
</div>
{{/each}}
</div>
</div>
</div>

{{!-- <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {{#each places.reviews}}
      <th scope="row">1</th>
      <td>{{username}}</td>
      <td>{{comments}}</td>
    </tr>
    {{/each}}
  </tbody>
</table> --}}




{{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> --}}

<style>

    .btn-createReview{
        margin-left:1170px;
    }

    .div-icon{
        position:absolute;
        margin-left:520px;
        margin-bottom: -30px;
    }
    i{
        color:black;
       
    }
    i:hover{
        color:#d73851;
    }
    .div-review{
        margin-left: 60px;
        margin-right: 60px;
    }
    .background-div{
        background-color: rgba(18, 10, 46, 0.803);
        border-radius: 8px;

    }
     .background-div h2{
      color:white;
      margin-left:20px;
      margin-top:10px;
    }
    .review-item{
        margin:20px;
       color: white;
       text-align:justify;
    }
    .review-item span{
        color:white;
    }
    .mapDetails{
        width:35%;
        height:400px;
        margin-left:220px;
        margin-top:20px;
        border-radius: 8px;
    }

    .div-photoMap{
    display:flex;
    flex-direction:row;

    }
    .img-Places{
        position:relative;
        width:500px;
        height:300px;
        margin-left:50px;
        margin-top:20px;
        border-radius: 8px;

    }
    .h1-title{
       margin-left:30%;
    }
  
  .div-descriptions{
      margin-left: 60px;
  }
</style>
{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> --}}