<header>
     <p class="header-p">{{#if user}}Hey {{user.firstName}}, {{/if}}Welcome to SpotSports!</p>
  <nav class="header-nav">
     <ul class="header-ul">
        <li class="header-li">
    <a  class="header-a" href="/">Home</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/profile/{{user._id}}">Profile</a>
    </li>
    <li class="header-li">
     <a class="btn header-a" href="logout" title="logout">Logout</a>
     </li>
     </ul>
  </nav>
</header>
<br>
<br>
<br>

<ul>
  {{#each places}}
  <li>
<a href="/places/{{_id}}">{{name}}</a> &nbsp;
 <button> <a href="/place-delete/{{_id}}">DELETE</a></button>
 <br>
 <br>
  </li>
  {{/each}}
</ul>

<button><a href="/place-add">New Place</a></button>
<br>
<br>
<div id="map"></div> 


<link rel="stylesheet" href="/stylesheets/places.css" />


