<header>
     <p class="header-p">{{#if user}}Hey <b>{{user.firstName}}</b>, {{/if}}Welcome to SpotSports!</p>
  <nav class="header-nav">
     <ul class="header-ul">
        <li class="header-li">
    <a  class="header-a" href="/">Home</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/profile/{{user._id}}">Profile</a>
    </li>
    <li class="header-li">
     <a class="btn header-a" href="logout" title="logout">Logout</a>
     </li>
     </ul>
  </nav>
</header>
<br>
<br>
<br>
<button><a href="/place-add">New Place</a></button>

  
  <div class="cards-list">
   {{#each places}}

  <div class="card ">
  <div class="card_image"> <img class="img-card"src='{{path}}' alt='{{title}}'> </div>
  <div class="card_title title-white">
    <p class="places-title"><a href="/places/{{_id}}">{{name}}</a></p>
    <button class="btn-delete"> <a href="/place-delete/{{_id}}">DELETE</a></button>
  </div>
  </div>
   {{/each}}

</div>

 



{{!-- <ul>
  {{#each places}}
  <li>
<a href="/places/{{_id}}">{{name}}</a> &nbsp;
 <button> <a href="/place-delete/{{_id}}">DELETE</a></button>
 <br>
 <br>
  </li>
  {{/each}}
</ul> --}}

<div id="map"></div> 

<link rel="stylesheet" href="/stylesheets/places.css" />


<style>

 
  .cards-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 150px;
  height: 150px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  filter:grayscale(100%)
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
 font-family:'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -120px;
  height: 40px;
  text-decoration:none;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    filter:grayscale(0%);
    
}

.places-title a:hover{
  color:black;
}
.places-title a{
font-family:'Montserrat', sans-serif;
text-decoration:none;
color:white;

}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
</style>





