<span><a href="/places">Back</a></span><br>
<button> <a href="/profile-delete/{{user._id}}">DELETE ACCOUNT</a></button>

<h1>username:{{user.username}}</h1>
<h3>Name:{{user.firstName}}</h3>
<h4>email: {{user.email}}</h4>

<img src='{{user.path}}' alt='{{title}}'>

<br>
<a href="/profile-edit/{{user._id}}"><button>EDIT</button></a>
<br><br>
<a href="/password-edit/{{user._id}}"><button>CHANGE PASSWORD</button></a>

