<link rel="stylesheet" href="/stylesheets/profile.css" />
<script src="https://kit.fontawesome.com/0cc4f904e8.js" crossorigin="anonymous"></script>
<header>
    <h2>Spot Sport</h2>
  <nav class="header-nav">
     <ul class="header-ul">
        <li class="header-li">
    <a  class="header-a" href="/">Home</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/places">Places</a>
    </li>
    <li class="header-li">
     <a class="header-a" href="/profile/{{user._id}}">Profile</a>
    </li>
    <li class="header-li">
     <a class="btn header-a" href="/logout" title="logout">Logout</a>
     </li>
     </ul>
  </nav>
</header>
<br>
<br>
<br>



{{!-- <h1>username:{{user.username}}</h1>
<h3>Name:{{user.firstName}}</h3>
<h4>email: {{user.email}}</h4>
	<div class="profile-image">

	<img src='{{user.path}}' alt='{{title}}'>	

	</div>


<br>
<a href="/profile-edit/{{user._id}}"><button>EDIT</button></a>
<br><br>
<a href="/password-edit/{{user._id}}"><button>CHANGE PASSWORD</button></a> --}}

    <div class="container-profile">

	<div class="profile">

	<div class="profile-image">

	<img src='{{user.path}}' alt='{{title}}'>	

<div class="profile-user-settings">

				<h1 class="profile-user-name">{{user.username}}</h1>

				<a href="/profile-edit/{{user._id}}"><button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button></a>
                <a href="/password-edit/{{user._id}}"><button class="btn change-password">CHANGE PASSWORD</button></a>
                <a href="/profile-delete/{{user._id}}"><button class="btn delete-account">DELETE ACCOUNT</button></a>

			</div>

			<div class="profile-stats">

				<p>
					<span class="profile-stat-count"> {{user.email}}</span>
					
				</p>

			</div>

			<div class="profile-bio">

				<p><span class="profile-real-name">{{user.firstName}}</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>

			</div>

		</div>
		

	</div>



<style>

.profile-image img {
    width:140px;
    height:160px;
    border-radius: 50%;
}




.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
    color:black;
}


.change-password{
    font-size: 10px;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 10px;
    margin-left: 30px;
    margin-right:0px;
}
.delete-account{
    font-size: 10px;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 10px;
    margin-left: 0px;
}



.profile-user-name {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile{
    margin-top:100px;
    margin-left:40%
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }


    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio {
        flex-basis: 100%;
    }


}


@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio
    {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}
</style>